/************************************** ANDY's STYLES ***************************************/
body {
	background:#E6E6E6;
	padding:3rem;
	font-family: 'Montserrat', sans-serif;
}
/*1rem = 16px */

.colour_primary {
	color:#E53318;
}
.page-border {
	position:fixed;
	height:100%;
	width:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	border:3rem solid #fff;
	z-index:4000;
	pointer-events:none;

}

.shadow {
   -moz-box-shadow:    inset 0 0 100px #999;
   -webkit-box-shadow: inset 0 0 100px #999;
   box-shadow:         inset 0 0 100px #999;
}

.logo_page {
	position:relative;
	top:0;
	margin:-2.5rem auto 0;
	display:block;
	width:90px;
	opacity: 0.6
}

.page {
	padding-top:4rem;
}
.page h1 {
	text-align: center;
	font-weight: 800;
}


/*********************************** ANIMATION *****************************/
@keyframes borderReveal {
    from {
        border-width:200px;
    }
    to {
        border-width:3rem;
    }
}

.page-border  {
  	animation: borderReveal 1.6s ease-in-out 0.6s 1 forwards;
  	animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

/*********************************** NAV *****************************/
#nav-flyout {
	position:absolute;
	left:0;
	top:30%;
	width:60rem;
	padding:2rem;
	background: #E53318;
}
	#nav-trigger {
		position:relative;
		display: block;
		width:3rem;
		height:3rem;
		line-height: 3rem;
		border-radius:1.5rem;
		background: #3e3e3e;
		color:#fff;
		z-index:5000;
	}
	.menu_l1 {
		display: inline-block;
		float: left;
		width:14rem;
		border:1px solid black;
	}
		.menu_l1 h2 {
			font-size:1.6rem;
		}
		.menu_l2 li {
			display: block;	
		}
			.menu_l2 li a {
				padding:0;
			}

/*********************************** IMAGE SHUFFLER *****************************/

#image_shuffler {
	position: relative;
	text-align: center;
}
img.shuffle {
	border:1px solid black;
	position:absolute;
}